<h1>Find a sushi restaurant near you!</h1>

<form class="yelpSearch">
  <input class="term" type="text" value ="sushi" placeholder="Type of food"></input>
  <input class="location" type="text" placeholder="location"></input>
  <select class="country">
    <option value="CA">Canada</option>
    <option value="US">USA</option>
  </select>
  <input type="submit"></input>
</form>

<div id="map" style="width:600px;height:600px;">I am a map</div>

<div class="result"></div>

<%= "<script src='https://maps.googleapis.com/maps/api/js?key=#{ENV["GMAPS_API"]}&callback=initMap&libraries=places' async defer></script>".html_safe %>


